<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>Vesalo</title>
</head>
<body>
<div id="center2">
    <div id="first">
        <form method="post" action="/guess">
            <input id="textbox" type="text" name="letter" placeholder="  Put in a letter" maxlength="1">
            <input id="search" class="btn btn-primary btn-lg" type="submit" name="search" value="Search">
        </form>
    </div>
    <div id="under">
        <p id="underlines"><%= underlines%></p>
        <p id="usedLeeters">Used letters: <%= usedletters%></p>
        <p id="alert"><%=alert%></p>
    </div>
    <div id="allimg">
    <img id="img1" class="img" src="images/head.png" style="display:<%=img1%>">
    <img id="img2" class="img" src="images/body.png" style="display:<%=img2%>">
    <img id="img3" class="img" src="images/leftarm.png" style="display:<%=img3%>">
    <img id="img4" class="img" src="images/rightarm.png" style="display:<%=img4%>">
    <img id="img5" class="img" src="images/rightleg.png" style="display:<%=img5%>">
    <img id="img6" class="img6" src="images/leftleg.png" style="display:<%=img6%>">
    </div>
</div>
<input id="q" type="hidden" value="<%=status%>">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src='javascripts/vesalojs_2.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
</script>
</body>
</html>